*{
  background-color: black;
  color: lightgray;
}

.list .action {
  cursor: pointer;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar-brand {
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 1%;
  margin-right: 2%;
  border-radius: 0.5em;
}

.navbar-nav{
  padding: 0% 1% 0% 1%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 0.5em ;
}
